* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
  margin: 0;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 1000px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videos {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.video-container {
  flex: 1;
  text-align: center;
  min-width: 250px;
}

.video-container h3 {
  margin-bottom: 10px;
  color: #555;
}

video {
  width: 400px;
  height: 350px;
  background-color: #000;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.controls-template {
  display: flex;
  gap: 20px;
  width: 50%;
}

button,
input {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

button {
  background-color: #ff7b00;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #e0703c;
  color: #ffffff;
}

input {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 1rem;
}

@media (max-width: 768) {
  video {
    width: 300px; /* Adjust width for tablets */
    height: 225px; /* Adjust height for tablets */
  }

  .videos {
    flex-direction: column;
    gap: 10px;
  }

  .video-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .controls {
    width: 100%;
    gap: 12px;
  }

  button,
  input {
    max-width: 100%;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  video {
    width: 200px; /* Adjust width for tablets */
    height: 150px; /* Adjust height for tablets */
  }

  header h1 {
    font-size: 1.5rem;
  }

  button,
  input {
    padding: 8px 16px;
    font-size: 0.9rem;
    width: 50%;
  }

  video {
    height: 150px;
  }
}
